/* The HEX codes of the used colours are
004165: Blue
F2DF74 : Yellow
A9B2B1: gray
CD202C : Red */
body {
  margin: 0;
  background-color: #004165;
  border-top: 2vh solid #cd202c;
  border-bottom: 2vh solid #cd202c;
  height: 96vh;
}
.yellow-border {
  background-color: #f2df74;
  height: 1vh;
  width: 100%;
}
.bottom {
  bottom: 100%;
}
.content {
  height: 94vh;
}
#logo {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
}

.flex {
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 3vh;
  color: white;
  width: 100%;
  text-align: center;
  background-color: rgba(169, 178, 177, 0.5);
  height: 8vh;
  margin-top: 2vh;
}
