/* The HEX codes of the used colours are
004165: Blue
F2DF74 : Yellow
A9B2B1: gray
CD202C : Red */
body {
  margin: 0;
  background-color: #004165;
  border-top: 2vh solid #cd202c;
  border-bottom: 2vh solid #cd202c;
  height: 96vh;
  font-family: "Poppins", sans-serif;
}
.yellow-border {
  background-color: #f2df74;
  height: 1vh;
  width: 100%;
}
.bottom {
  bottom: 100%;
}
.content {
  height: 94vh;
}
#logo {
  height: 20vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2vh;
}

.flex {
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2vh;
  font-weight: 200;
  color: white;
  width: 100%;
  text-align: center;
  background-color: rgba(169, 178, 177, 0.6);
  height: 8vh;
  margin-top: 1.5vh;
}
#footer1 {
  margin-top: 3vh;
  font-size: 2vh;
  height: 3vh;
  font-weight: 100;
  color: white;
  letter-spacing: 2px;
}
#footer2 {
  color: #cd202c;
  margin-top: 1vh;
  font-size: 1.5vh;
  font-weight: 200;
  height: 3vh;
}
